.container {
  width: 480px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: #1e2022;
  color: #c9d6df;
}

a {
  color: #f0f5f9;
  text-decoration: none;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}

#canvas-container {
  width: calc(100% - 36px);
  height: 440px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  margin: 18px;
  transition: all 300ms ease-out 0ms;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(to top, #eee 0%, #ddd 20%, #aaa 40%, #999 100%);
}

@media (max-width: 480px) {
  #canvas-container {
    width: calc(100vw - 36px);
    height: calc(100vw - 36px);
  }
}

#container-inner {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.preview-wrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 5;
  transition: width 500ms ease-in-out;
  width: 100%;
  height: 100%;
}

.preview-wrapper.active {
  width: 0;
}

.preview-mask {
  position: relative;
  height: 100%;
  width: fit-content;
}

.preview-wrapper-grid-bg {
  position: absolute;
  left: -72px;
  top: -72px;
  z-index: 6;
  rotate: 186deg;
  transform-origin: center;
  width: calc(100% + 144px);
  height: calc(100% + 144px);
  background-size: 144px;
  background-repeat: repeat;
  opacity: 0.5;
}

.preview-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  transform-origin: center;
  scale: 0.92;
  translate: 0.5% 0;
}

.preview-canvas {
  position: absolute;
}

.preview-canvas.image {
  z-index: 8;
}

.preview-canvas.stroke {
  z-index: 7;
}

.config-area {
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 6px 18px;
}

.config-title {
  font-size: 24px;
  margin: 0 0 4px 0;
}

.config-subtitle {
  font-size: 18px;
  margin: 6px 0;
}
.config-settings-title{
  font-size: 16px;
  margin: 8px 1px;
  letter-spacing: 2px;
}
.control-area {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}

.control-flex {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px 16px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch
}

.control {
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #52616b;
  background-color: #52616b;
  line-height: 36px;
  user-select: none;
  letter-spacing: 1px;
}

.control.grow {
  flex-grow: 1;
}

.control.nogrow {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 120px;
  margin-right: 8px;
  border: 1px solid #c9d6df;
  background-color: transparent;
}

.control.pick {
  border: 1px solid #c9d6df;
  background-color: transparent;
}

.control.generating {
  opacity: 0.5;
}

.bottom-area {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.bottom-area .copyright{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}