.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  z-index: 1;
  /* flex-flow: column nowrap; */
  /* display: flex; */
  align-items: center;
  justify-content: flex-start;
}

#canvas-container {
  width: 100vw;
  height: 480px;
  max-width: 480px;
  transition: all 300ms ease-out 0ms;
  box-sizing: border-box;
  /* border-radius: 32px; */
  /* border: 2px solid #909090; */
  overflow: hidden;
  background: linear-gradient(to top, #f0f0f0 0%, #e0e0e0 20%, #b0b0b0 40%, #a0a0a0 100%);
}

#canvas-container>div {
  width: 100%;
  height: 100%;
  max-width: 480px;
}

@media (max-width: 480px) {
  #canvas-container {
      width: 100vw;
      height: 100vw;
  }
}

#container-inner {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.display-text {
  width: 100%;
  box-sizing: border-box;
  padding: 0 42px;
  color: #303030;
  text-align: left;
  user-select: none;
}

.path {
  display: block;
  opacity: 0.5;
  line-height: 10px;
  font-size: 18px;
  /* font-weight: bold; */
  margin-bottom: 9px;
  transform: translateY(-12px);
}

.title {
  display: block;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 1px;
}

.tags {
  display: block;
  opacity: 0.5;
  font-size: 18px;
  margin: 16px 0 28px;
}

.display-text.main {
  margin-top: 10px;
}

p {
  margin: 10px 0;
}

.content-first {
  opacity: 0.8;
  font-size: 36px;
  line-height: 18px;
  letter-spacing: 2px;
}

.content {
  opacity: 0.8;
  font-size: 16px;
  line-height: 24px;
}

.demo-notice {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(85, 105, 195);
  padding: 10px 24px 10px 18px;
  margin: 20px 0 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
  user-select: none;
}

.placeholder {
  position: static;
  opacity: 0;
}

.demo-notice img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  flex-grow: 0;
}

.demo-notice div {
  flex-grow: 1;
}